In [1]:
import numpy as np
import pandas as pd

scores = np.random.randint(40, high=101, size=(50,5))
scores_df = pd.DataFrame(scores,
    columns=['國文','英文','數學','地理','歷史'],
    index=range(1,51))
scores_df.index.name="學號"
scores_df.columns.name="科目"
sum_series = scores_df.sum(axis=1)
mean_series = scores_df.mean(axis=1)
#display(sum_series)
rank_series = sum_series.rank(method='min',ascending=False)
scores_df["總分"] = sum_series
scores_df["平均"] = mean_series
scores_df["名次"] = rank_series
scores_df.sort_values(by='名次')

科目   國文  英文  數學  地理  歷史   總分    平均    名次
學號
47   99  80  66  97  99  441  88.2   1.0
27   78  86  92  80  98  434  86.8   2.0
6   100  84  75  65  98  422  84.4   3.0
25   97  82  76  72  77  404  80.8   4.0
16   84  57  82  99  82  404  80.8   4.0
26   79  92  90  93  44  398  79.6   6.0
44   95  52  89  85  75  396  79.2   7.0
17   80  71  70  95  76  392  78.4   8.0
23   73  92  67  61  85  378  75.6   9.0
46   98  87  67  67  57  376  75.2  10.0
43   66  98  49  84  69  366  73.2  11.0
48   81  69  76  95  41  362  72.4  12.0
14   59  46  80  86  87  358  71.6  13.0
24   54  72  93  91  46  356  71.2  14.0
31   50  60  94  85  66  355  71.0  15.0
12   84  79  52  51  88  354  70.8  16.0
40   89  42  42  88  87  348  69.6  17.0
5    45  82  62  82  77  348  69.6  17.0
22   47  54  90  75  79  345  69.0  19.0
4    96  40  68  41  95  340  68.0  20.0
15   80  92  70  47  51  340  68.0  20.0
50   49  82  71  73  61  336  67.2  22.0
45   50  48  70  72  95  335  67.0  23.0
29   90  67  66  68  41  332  66.4  24.0
35   63  80  50  53  85  331  66.2  25.0
2    48  88  70  65  58  329  65.8  26.0
34   91  44  51  94  47  327  65.4  27.0
32   57  58  76  79  54  324  64.8  28.0
7    54  79  60  80  47  320  64.0  29.0
9    80  53  84  54  49  320  64.0  29.0
42   48  40  62  74  94  318  63.6  31.0
13   64  42  42  72  96  316  63.2  32.0
28   54  67  66  62  66  315  63.0  33.0
30   73  59  47  95  41  315  63.0  33.0
10   55  98  47  43  72  315  63.0  33.0
1    46  48  87  82  49  312  62.4  36.0
18   42  79  54  63  73  311  62.2  37.0
39   69  52  93  54  43  311  62.2  37.0
37   48  49  97  70  44  308  61.6  39.0
36   66  52  54  74  60  306  61.2  40.0
38   46  59  56  50  95  306  61.2  40.0
49   64  57  89  46  49  305  61.0  42.0
19   44  42  60  61  98  305  61.0  42.0
20   40  50  45  85  84  304  60.8  44.0
33   70  40  71  77  45  303  60.6  45.0
41   47  41  61  69  76  294  58.8  46.0
3    42  79  50  72  40  283  56.6  47.0
8    99  43  42  43  52  279  55.8  48.0
11   64  47  71  52  45  279  55.8  48.0
21   61  51  53  48  59  272  54.4  50.0

In [10]:
def fun1(series:pd.Series) -> int:
    min = series.min()
    median = series.median()
    max = series.max()
    s1 = pd.Series([min,median,max],index=["最低分","中間值","最高分"])
    return s1

subject_df = scores_df[['國文','英文','數學','地理','歷史']]

frame1 = subject_df.apply(fun1)
frame1

科目      國文    英文    數學    地理    歷史
最低分   40.0  40.0  42.0  41.0  40.0
中間值   64.0  59.0  67.5  72.0  67.5
最高分  100.0  98.0  97.0  99.0  99.0

In [27]:
def fun2(series:pd.Series) -> pd.Series:
    lessThen60 = series[series<60].count()
    chinese = "及格" if(series['國文'] >= 60) else "不及格"
    english = "及格" if(series['英文'] >= 60) else "不及格"

    return pd.Series([lessThen60,chinese,english],index=['不及格科目','國文','英文'])

display(subject_df.T)
subject_df.T.apply(fun2).T

學號,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
科目,,,,,,,,,,,,,,,,,,,,,
國文,46,48,42,96,45,100,54,99,80,55,...,47,48,66,95,50,98,99,81,64,49
英文,48,88,79,40,82,84,79,43,53,98,...,41,40,98,52,48,87,80,69,57,82
數學,87,70,50,68,62,75,60,42,84,47,...,61,62,49,89,70,67,66,76,89,71
地理,82,65,72,41,82,65,80,43,54,43,...,69,74,84,85,72,67,97,95,46,73
歷史,49,58,40,95,77,98,47,52,49,72,...,76,94,69,75,95,57,99,41,49,61

   不及格科目   國文   英文
學號
1      3  不及格  不及格
2      2  不及格   及格
3      3  不及格   及格
4      2   及格  不及格
5      1  不及格   及格
6      0   及格   及格
7      2  不及格   及格
8      4   及格  不及格
9      3   及格  不及格
10     3  不及格   及格
11     3   及格  不及格
12     2   及格   及格
13     2   及格  不及格
14     2  不及格  不及格
15     2   及格   及格
16     1   及格  不及格
17     0   及格   及格
18     2  不及格   及格
19     2  不及格  不及格
20     3  不及格  不及格
21     4   及格  不及格
22     2  不及格  不及格
23     0   及格   及格
24     2  不及格   及格
25     0   及格   及格
26     1   及格   及格
27     0   及格   及格
28     1  不及格   及格
29     1   及格   及格
30     3   及格  不及格
31     1  不及格   及格
32     3  不及格  不及格
33     2   及格  不及格
34     3   及格  不及格
35     2   及格   及格
36     2   及格  不及格
37     3  不及格  不及格
38     4  不及格  不及格
39     3   及格  不及格
40     2   及格  不及格
41     2  不及格  不及格
42     2  不及格  不及格
43     1   及格   及格
44     1   及格  不及格
45     2  不及格  不及格
46     1   及格   及格
47     0   及格   及格
48     1   及格   及格
49     3   及格  不及格
50     1  不及格   及格

In [17]:
s1 = subject_df.T[3]
s1[s1<60].count()

3