In [2]:
import numpy as np
import pandas as pd

frame = pd.DataFrame(np.random.randn(4,3),
             columns=['d','f','e'],
             index=['台北','台中','台南','高雄'])

frame

           d         f         e
台北 -1.194866  1.642392 -1.264579
台中  0.895544 -0.267832  0.144864
台南  0.421680  0.761262 -0.008949
高雄 -0.439123 -1.850618 -1.018981

In [25]:
np.absolute(frame)

           d         f         e
台北  1.194866  1.642392  1.264579
台中  0.895544  0.267832  0.144864
台南  0.421680  0.761262  0.008949
高雄  0.439123  1.850618  1.018981

In [8]:
#使用for in 讀取DataFrame
for column in frame:
    for item in frame[column]:
        print(item)
    print("=============")

-1.1948659565915694
0.8955438004542551
0.42167966102801063
-0.4391232717833615
=============
1.6423921813669844
-0.2678317243540396
0.7612618826012085
-1.8506178525493004
=============
-1.2645788195491863
0.1448643179285541
-0.008948505545454453
-1.018981380342422
=============

In [16]:
#使用for in 讀取DataFrame
for column in frame:
    print(np.abs(frame[column]))

台北    1.194866
台中    0.895544
台南    0.421680
高雄    0.439123
Name: d, dtype: float64
台北    1.642392
台中    0.267832
台南    0.761262
高雄    1.850618
Name: f, dtype: float64
台北    1.264579
台中    0.144864
台南    0.008949
高雄    1.018981
Name: e, dtype: float64

In [22]:
np.max(frame,axis=0)

d    0.895544
f    1.642392
e    0.144864
dtype: float64

In [19]:
np.max(frame,axis=1)

台北    1.642392
台中    0.895544
台南    0.761262
高雄   -0.439123
dtype: float64

In [20]:
#使用numpy的function
np.max(frame,axis=0) - np.min(frame,axis=0)

d    2.090410
f    3.493010
e    1.409443
dtype: float64

In [21]:
#使用DataFrame的methon
frame.max(axis=0) - frame.min(axis=0)

d    2.090410
f    3.493010
e    1.409443
dtype: float64

In [27]:
def fun1(series):
    print(series.name)
    return series.max() - series.min() + 1

frame.apply(fun1)

d
f
e

d    3.090410
f    4.493010
e    2.409443
dtype: float64