In [2]:
import numpy as np
import pandas as pd
scores = np.random.randint(50,100,size=(50,5))
scores_df = pd.DataFrame(scores,
             columns=['國文','英文','數學','地理','歷史'],
             index=range(1,51))
scores_df
sum_values = scores_df.sum(axis=1)
mean_values = scores_df.mean(axis=1)
scores_df['總分'] = sum_values
scores_df['平均'] = mean_values

In [7]:
scores_df
scores_df.style\
    .format(precision=2)\
    .highlight_between(left=50, right=59)