In [3]:
import numpy as np
import pandas as pd

s1 = pd.Series(np.random.randn(9),
          index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,2,3,1,2,3]]
          )
s1

a  1   -1.013581
   2   -0.514334
   3    0.470486
b  1    0.464662
   2    0.760582
c  3    1.473800
   1    0.714467
d  2    0.375886
   3    0.086832
dtype: float64

In [4]:
s1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('c', 3),
            ('c', 1),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
display(s1)

a  1   -1.013581
   2   -0.514334
   3    0.470486
b  1    0.464662
   2    0.760582
c  3    1.473800
   1    0.714467
d  2    0.375886
   3    0.086832
dtype: float64

In [6]:
s1['a']

1   -1.013581
2   -0.514334
3    0.470486
dtype: float64

In [7]:
s1[['b','c']]

b  1    0.464662
   2    0.760582
c  3    1.473800
   1    0.714467
dtype: float64

In [8]:
s1['b':'d']

b  1    0.464662
   2    0.760582
c  3    1.473800
   1    0.714467
d  2    0.375886
   3    0.086832
dtype: float64

In [10]:
display(s1)
s1['a'][3]

a  1   -1.013581
   2   -0.514334
   3    0.470486
b  1    0.464662
   2    0.760582
c  3    1.473800
   1    0.714467
d  2    0.375886
   3    0.086832
dtype: float64

0.4704858167833431

In [11]:
s1.loc['b',1]

0.46466249950601013

In [16]:
s1.unstack()

          1         2         3
a -1.013581 -0.514334  0.470486
b  0.464662  0.760582       NaN
c  0.714467       NaN  1.473800
d       NaN  0.375886  0.086832

In [17]:
s1.unstack(level=0)

          a         b         c         d
1 -1.013581  0.464662  0.714467       NaN
2 -0.514334  0.760582       NaN  0.375886
3  0.470486       NaN  1.473800  0.086832

In [18]:
s1.unstack(level=0).T

          1         2         3
a -1.013581 -0.514334  0.470486
b  0.464662  0.760582       NaN
c  0.714467       NaN  1.473800
d       NaN  0.375886  0.086832

In [15]:
s1.unstack(level=0).T.stack()

a  1   -1.013581
   2   -0.514334
   3    0.470486
b  1    0.464662
   2    0.760582
c  1    0.714467
   3    1.473800
d  2    0.375886
   3    0.086832
dtype: float64